@tailwind base;
@tailwind components;
@tailwind utilities;

/* jetBrain mono font */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

#root {
  width: 100%;
  height: 100%;
}
html,
body {
  height: 100vh;
}
body {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  @apply font-jetbrains;
}

.sub-title::before {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #00000094;
  position: absolute;
  top: 50%;
  transform: translate(-90px, -50%);
}

/* Profile picture */
.profile-pic {
  animation: profile-pic-animation 8s ease-in-out 1s infinite;
}
@keyframes profile-pic-animation {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
