@tailwind base;
@tailwind components;
@tailwind utilities;

/* jetBrain mono font */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

#root {
  width: 100%;
  height: 100%;
}
html,
body {
  height: 100vh;
}
body {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  @apply font-jetbrains;
}
nav a {
  transition: color;
  transition-duration: 0.3s;
}
nav a:hover {
  color: #f59e0b;
}
