@tailwind base;
@tailwind components;
@tailwind utilities;

/* jetBrain mono font */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.main-btn {
  @apply block text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-xl px-5 py-5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2 transition duration-300 gap-4;
}
#root {
  width: 100%;
  height: 100%;
}
html,
body {
}
body {
  font-family: "Inter", sans-serif;
  @apply font-jetbrains;
}

.sub-title::before {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #00000094;
  position: absolute;
  top: 50%;
  transform: translate(-90px, -50%);
}

/* Profile picture */
.profile-pic {
  animation: profile-pic-animation 8s ease-in-out 1s infinite;
}
@keyframes profile-pic-animation {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.Skills .skill-card {
  @apply relative flex flex-col md:flex-row items-center text-center md:text-left gap-3 md:gap-5 items-center;
}
